.lmj-cart {
	color: white;
	background-color: #31b572;
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 300px;
}

.lmj-cart-list{
	padding: 0;
}

.lmj-cart-list-item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
}

.lmj-cart-add-button {
	margin-left: 32px;
	cursor: pointer;
}

.lmj-cart-toggle-button {
	background: none;
	font-weight: 600;
	color: black;
	align-self: flex-end;
}

.lmj-cart-closed {
	padding: 32px;
	width: 300px;
}

ion-icon{
	cursor: pointer;
}