button {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #1e7248;
  color: white;
}

.lmj-alert {
  background-color: orange;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
  margin: auto;
  margin-top: 30px;
}

.lmj-select, .lmj-input{
  margin-right: 15px;
  padding: 10px;
  border-radius: 25px;
}

.lmj-input{
	border: 1px solid black;
}